<div style="padding: 5px; 10px">
    <h1>9gag <small>Just for fun</small></h1>
    <div style="overflow: auto; height: 250px;">
        <ul>
            {% for gag in gags %}
            <!-- $gag -->
            <li>
                <a href="{{gag['link']}}">{{gag['title']}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>